*{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box ;
}
html,
body{
    background-color: var(--bg-primary-color);
    height:100%;
    width:100%;
    overflow-x: hidden;
}
.wrapper{
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
.fixedHeader{
    background-color:var(--bg-secondary-color);
    width:100%;
    padding:var(--padding-md);
    flex-shrink:0;

}
.navOptions .options li a{
    text-decoration: none;
    cursor: pointer;
    color:var(--primary-color);
    opacity:1;

}
.fixedHeader .heading{
    font-weight:600;
    font-size:1rem;
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.headeroptions{
    display:flex;
    justify-content:space-around;
}
.navOptions .options{
    display:flex;
    flex-direction:row;
    gap:var(--space-lg);
}
.options li{
    list-style: none;
    opacity: 0.5;
}
.options li:hover{
    cursor: pointer;
    color:var(--primary-color);
    opacity:1;
}
.main{
    flex:1;
    display:flex;
}
.heropart{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:rgba(168, 108, 186, 0.666);      
}
.heropart .section-part{
    margin-bottom:var(--margin-3xlg);

}
.heropart .section-part .logo{
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:var(--sizes-lg);
    color:var(--bg-primary-color);
    margin:var(--space-lg)
}
.heropart .section-part .heading-main{
    font-size:1.24rem;
    color:var(--bg-primary-color);
    margin-bottom:var(--margin-lg);
}
.heropart .section-part .about-main{
    color:rgba(12, 4, 35, 0.951);
    font-weight:600;
    text-align:center;
}
.heropart .section-part .btn.btn-outline-primary{
    margin:var(--margin-lg);
    margin-right:0;
    border-radius:var(--border-radius-lg);
    padding:var(--padding-sm);
    color: rgb(15, 1, 15);
    border-color:rgb(15, 1, 15);
    font-size:1rem;
}
.heropart .section-part .btn.btn-outline-primary:hover{
    background-color:rgb(170, 63, 170);
}
.heropart .section-part .btn.btn-primary{
    margin:var(--margin-lg);
    margin-left:0;
    padding:var(--padding-sm);
    background-color: rgb(170, 63, 170);
    border-color:rgb(170, 63, 170);
    font-size:1rem;
}
.heropart .section-part .button-part{
    display:flex;
    justify-content:center;
    gap:var(--space-md);
}
.heropart .card_part{
    display:flex;
    gap:var(--space-lg);
}
.heropart .card_part .card_item{
    border:1px solid var(--card-primary-color);
    border-radius:var(--border-radius-sm);
    padding:var(--padding-md);
    background-color:var(--card-primary-color);
}
.heropart .card_part .card_item:hover{
    box-shadow:0 30px 20px rgba(168, 108, 186, 0.882);
}
.heropart .card_part .card_item .card-logo{
    text-align:center;
    background: linear-gradient(135deg, rgb(255, 0, 0), rgba(31, 104, 31, 0.699) , rgb(17, 17, 91));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:var(--sizes-lg);

    
}
.heropart .card_part .card_item h3{
    color:var(--bg-primary-color);
    font-weight:600;

}
.heropart .card_part .card_item p{
    color:rgba(0, 0, 0, 0.993);
    font-weight:450;
}


@media(max-width:1020px){
    .heropart .section-part{
        flex-wrap:wrap;
    }
    .card_part{
        flex-wrap:wrap;
        flex-direction:column;
        margin:var(--space-lg);
        width:100%;
        text-align:center;
    }
    .navOptions .options{
        flex-wrap:wrap;
    }

}
@media(max-width:610px){
    .heropart .section-part .heading-main{
        text-align: center;
    }
}
@media(max-width:230px){
    .heropart .section-part .button-part{
        flex-direction: column;
        align-items:center;
    }
}